@media (min-width: 1024px) {
  .laptop-img {
    opacity: 0;
  }
  .move {
    transform: translateX(-100vw);
    transition: transform 0.3s ease, opacity 0.3s ease;
    animation: moving 1s ease-out forwards;
  }

  @keyframes moving {
    0% {
      transform: translateX(-100vw);
      opacity: 0;
    }
    30% {
      transform: translateX(-20%);
      opacity: 0.3;
    }
    70% {
      transform: translateX(5%);
      opacity: 0.7;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

